:root {
    /* اللون الاساسي */

    --bodyBG: #f6f6f6;
    /*خلفيه الكلمه */
    --bodyFont: #2b3445;
    /* لون الكلمه */

    --blue:#9fc5ef;
    --blue-button:#1976d2;

    --icons :#40464d;
    --footer-bg: #212529;
    --white:#fff;
    --red-button:#e41d43;
}

body {
    background-color: var(--bodyBG);
    color: var(--bodyFont);
}

/*dark mode*/
.dark {
    --bodyBG: black;
    /*خلفيه الكلمه */
    --bodyFont: white;
    /* لون الكلمه */

}






/************************* 
General styles  
**************************/
.border {
    border: 1px solid #000;
}

/* ده علشان يظبط التنسيقات لل  flex*/
.flex {
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

html {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Roboto", sans-serif;
    /* هيطلع الي ال header بتاع الصفحه */
    scroll-behavior: smooth;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}



/* الاكواد ده مسئوله عن السكرول */
::-webkit-scrollbar {
    width: 0.88rem;
}

::-webkit-scrollbar-track {
    border: 7px solid #292c3b;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* for Firefox */
html {
    scrollbar-color: #9e4673 #3d4a59;
}

main {
    width: 80%;
    margin-inline: auto;
}
@media (width<600px) {
    main {
        width: 100%;
    }
}
/**********
    HTML elements
    *****************/


/* علشان الغي جميع التنسيقات لي عنصر ال لينكات و عنصر ال button */
a,
button {
    all: unset;
    /* ده علشان يغلي ال لينك و الزر ك بلوك*/
    display: inline-block;
    transition: 0.2s;
}

/* علشان يصغر الحجم عند الضغط علي ال الزر و اللينكات*/
button:active,
a:active {
    scale: 0.9;
}

button:hover,
a:hover {
    cursor: pointer;
}
button:disabled{
    opacity: 0.7;
    cursor: not-allowed;
    scale: 1;
}

li {
    margin-left: 2rem;
    list-style: none;

}




/************************
General style for this project
**************************/
.fa-solid{
    color: var(--icons);

}