header.flex {
    justify-content: space-between;
    /*جعل مسافه بين ال two div */
    padding-inline: 10%;
    /*علشان يسيب مسافه من اليمين و اليسار*/
    padding-top: 1.2rem;
    /*علشان يسيب مسافه من الاعلي */


    & .links .fa-solid {
        margin-right: 0.3rem;
        /*جميع العناصر يسيبو مسافه من جه اليمين*/
    }

    & .sign-in {
        margin-inline: 1rem;
    }

    /*ده علشان اخلي  sign on في منتصف  ال register and  car*/


    /*علامه & تدل علي header.felx */
    & .sign-in,
    & .register {
        border: 1px solid var(--bodyFont);
        padding: .44rem 1rem;
        /* لعمل مسافه لي الكلمه بين الكلمه و بين الحدود*/
        border-radius: 22px;
        /* ده علشان يعمل الحواف الدائريه  */

        font-size: .8rem;
        font-weight: 500;
    }

    /* ده علشان لما اعمل hover يعمل reaction */
    & .sign-in:hover,
    & .register:hover,
    & .sign-in:hover .fa-solid,
    /* fa-solid ده ال icon اللي جمب الكلمه*/
    & .register:hover .fa-solid {
        background-color: var(--bodyFont);
        color: var(--blue);

    }



    & .cart {
        background-color: var(--bodyFont);
        color: var(--blue);
        font-size: 0.9rem;
        padding: 0.44rem 1.1rem 0.44rem 0.6rem;
        border-radius: 55px;
    }

    & .cart .fa-solid {
        color: var(--blue);
    }


    /* ده الكود علشان اعرف كام عنصر في ال عربه التسوق */
    & .products-number {
        position: absolute;
        right: 0;
        top: -5px;
        /*علشان اخليه فوق الكلمه*/
        font-size: 0.7rem;
        font-weight: bold;
        /* علشان اخليه سميك*/
        background-color: rgb(225, 90, 123);
        width: 20px;
        height: 20px;
        color: #fff;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        /* علشان اغلي ال border دائري */
        top: 0;
        right: 0;
    }




    /*********************************** 
        left section (logo)
***********************************/
    & .fa-couch {
        font-size: 3rem;
        color: var(--icons);




    }


}



/*************
in the small screen the logo will be hidden

*************************/

@media (width<600px) {

    header.flex {
        justify-content: center;
        /*جعل مسافه بين ال two div */
        padding-inline: 0;


        /*في حاله الشاشه صغيره خالص اضع العناصر تحت بعض*/
        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
        }

        .logo {
            display: none;
        }


    }




}


/* ==============================
When dcroll down on the home page 
=================================*/
header.scroll-down {
    position: fixed;
    right: 0;
    left: 0;
    padding-bottom: 0.5rem;
    background-color: var(--footer-bg);
    color: #fff;
    z-index: 11;
    /*علشان اخليهال  فوق الصفحه */

    & .fa-bag-shopping,
    & .fa-user-plus,
    & .fa-right-to-bracket {
        color: white;
    }

    & .logo {
        font-size: 0.8rem;
    }

    & .logo .fa-bag-shopping {
        font-size: 1.66rem;
    }
}