/* =======================
    Background Image
==========================*/
div.top-img {
  position: relative;
  height: 80vh;/*ده ارتفاع الصوره*/
  background-image: url(../../images/تصميم\ بدون\ عنوان\ \(2\).png);/*صوره الاوله اللتي خلف الكلام*/
  background-position: center; /* الجزء اللي هيختفي في حاله تصغير الشاشه*/
  background-repeat: no-repeat;/*في حاله تصغير الشاشه ميعملش repeat لي الصوره*/
  background-size: cover; /*علشان تملي المساحه كلها */
  background-attachment: fixed;
}

@media (width < 1000px) {
  div.top-img {
    background-position: left;
  }
}/*في حاله عرض الشاشه 1000 بكسل خلي الجزء الثابث اللي علي اليسار  */


/* =======================
    Text on Image
==========================*/

section.content {
  font-size: 2rem;
  position: absolute;
  /*و علشان اجيب الكلام في المنتصف اكتب السطريين التاليين*/
  top: 45%;
  transform: translateY(-50%);

  margin-left: 10%;

  & .home-furniture-collection {
    text-transform: uppercase;
    font-size: 1.7rem;
  }

  & .men {
    margin-top: 0.7rem;
    font-weight: bold;
  }

  & .sale {
    margin-block: 0.5rem;
    font-weight: bold;
  }
  & .sale span {
    color: crimson;
    margin-left: 0.8rem;
  }

  & .free-shipping {
    font-size: 1.5rem;
  }

  & button {
    background-color: black;
    color: white;
    margin-top: 0.9rem;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 0.6rem 1.6rem;
  }
}




/* ===============================
    Main contents (products)
==================================*/
.category-section {
  display: none;
}
.category-section.show {
  display: block;
}

main h1.recommended {
  margin: 2.3rem 0 2rem 2%;
}

@media (width < 600px) {
  main h1.recommended {
    margin: 2.3rem 0 2rem 0;
    font-size: 1.4rem;
  }
}

main section.products.flex{
  flex-wrap: wrap;  /*علشان لو مفيش مكان ينزل السطر التالي*/
  justify-content: center;/*في حاله الشاشات الصغيره*/
  gap: 2rem 1.4rem; /*المسافه بين العناصر*/



  & article.card{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  transition: 0.2s;
  }

/*لما اعما عليه hover*/
/*علشان لما ادوس علي ال المنتج يتغير الحجم بتاعه */
  & article.card:hover{
    scale: 1.01;
  }

  & img {
    border-radius: 5px 5px 0 0;
  }

  & .card .content {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
  }

  & .card .content .title {
    padding-top: 0.7rem;
    padding-inline: 0.4rem;
    text-transform: capitalize;/*كل حرف من بدايه الكلمه يكون كبيتل*/
  }

  & .card .content .description {
    padding-inline: 0.4rem;/*in line علشان يسبيب مسافه يمين و شمال */
    font-size: 0.8rem;
    margin-top: 0.4rem;/*يسيب مسافه من الاعلي */
    margin-bottom: 0.6rem;/*علشان يسيب مسافه من الاسفل */
    line-height: 1.1rem;/*المسافه بين السطور */
  }

  & .card .content .price {
    margin-left: 0.88rem;
    font-size: 0.9rem;
    color: rgb(199, 0, 40);
    font-weight: bold;
  }

  & .add-to-cart {
    margin-right: 0.88rem;
    background-color: var(--blue-button);
    color: #fff;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 0.7rem;
    gap: 0.33rem;
  }

  & .fa-solid {
    color: white;
  }

}


                                /*فئات*/


.categories {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.cat {
  text-align: center;
  cursor: pointer;
}

.cat img {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
  transition: 0.3s;
  border: 2px solid #ddd;
}

.cat img:hover {
  transform: scale(1.1);
  border-color: #000;
}

.cat p {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}